body {
  background-color: #E0B0FF;
}

.tb-title {
  text-align:center; 
  color: #E0B0FF; 
  font-family: courier, monospace; 
  font-size: 72px; 
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  width: 72px;
}


/* Mobile Phone (portrait) ----------- */
@media only screen
and (max-width:480px)
and (orientation:portrait) {
  body {
    background-image: url(img/tb-bg-tall-480x768.jpg);
    background-repeat: no-repeat;
  }
  .tb-title {
    font-size: 48px; 
  }
  .icon {
    width: 48px;
  }
}

/* Mobile Phone (landscape) ----------- */
@media only screen
and (max-width:768px)
and (orientation:landscape) {
  body {
    background-image: url(img/tb-bg-wide-480x768.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    border: 4px solid red;
  }
}

/* iPads (portrait) ----------- 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  body {
    background-image: url(tb-banner-mobile.jpg);
    background-position: center; Center the image 
    background-size: cover; Resize the background image to cover the entire
  }
}*/

@media (min-width : 769px) 
and (orientation : landscape) {
  body {
    background-image: url(img/tb-bg-wide.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (min-width : 481px) 
and (orientation : portrait) {
  body {
    background-image: url(img/tb-bg-tall.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
